---
layout: null
title: zodpovědné hospodaření a otevřený úřad 
description: Sdružení nezávislých kandidátů pro volby do zastupitelstva obce Radhošť konané  ve dnech  5. a 6. řijna 2018
sitemap:
    priority: 1.0
    lastmod: 2018-07-30
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
                <div id="intro">
	                    <div><img src="/images/znak.png" alt="" style="margin-bottom: 50px;"></div>				
                        <h1>{{site.title}}</h1>
						<h2>zodpovědné hospodaření a otevřený úřad</h2>
						<p>Sdružení nezávislých kandidátů pro volby do zastupitelstva obce Radhošť konané  ve dnech  5. a 6. řijna 2018</p>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
            {% include nav.html %}
					</nav>


						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">Aktuality</a></li>
                </ul>
							</footer>

					</div>

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
